
    <%- include('../partial-views/header') %>
  

    <h1>Dev Skills List</h1>
    
    <ul>

        <% skills.forEach(skill => { %>
            <li><a href="skills/<%= skill.id %>"><%= skill.name %></a></li>
        <%}) %>

    </ul>

    <a href="/skills/new">Learn New Skill</a>

    <%- include('../partial-views/footer') %>
