<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial-views/header') %>
  
  </head>
  
  <body>
    <a href="/">Back</a>

    <h1>Dev Skills List</h1>
    
    <ul>

        <% skills.forEach(skill => { %>
            <li><a href="skills/<%= skill.id %>"><%= skill.name %></a></li>
        <%}) %>

    </ul>

  </body>
</html>
