    <%- include('../partial-views/header') %>

    <form action="/skills" method="POST">
        <input type="text" name="name">
        <input type="text" name="proficiency">
        <button type="submit">Upload Skill</button>
    </form>
    


    <%- include('../partial-views/footer') %>