<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial-views/header') %>

  </head>
  
  <body>
    <a href="/skills">Back</a>
    <h1>Skill Proficency</h1>
    <h2><%= skill.name %> - <%= skill.proficiency %></h2>
  </body>
</html>
