<!DOCTYPE html>
<html>
  <head>
    <title>Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/skills">Back</a>
    <h1>Skill Proficency</h1>
    <h2><%= skill.name %> - <%= skill.proficiency %></h2>
  </body>
</html>
