<!DOCTYPE html>
<html>
  <head>
    <%- include('./partial-views/header') %>

    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/skills">List of my skills here</a>
  </body>
</html>
