<!DOCTYPE html>
<html>
  <head>
    <a href="/">Home</a>
    |
    <a href="/skills">Skill List</a>

    <title>Dev Skills</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    </head>
    
    <body>